header {
  text-align: center;
}

h1 {
  font-size: 5vw;
  font-weight: 900;
  letter-spacing: 1.1vw;
  color: rgb(239, 212, 206);
  margin-bottom: 5vw;
  text-shadow: -.5vw .5vw rgb(226, 145, 125),
                -1vw 1vw rgb(221, 111, 87),
                -1.5vw 1.5vw rgb(213, 84, 58);
}

h2 {
  font-size: 1.7vw;
  letter-spacing: .3vw;
}