.cards {
  background-color: rgb(200, 208, 211);
  border: none;
  margin: 1vw;
  width: 17vw;
}

.likes {
  text-align: right;
  font-size: 1.5vw;
}

.titles {
  text-align: center;
}

.card img {
  /* border: 8px solid rgb(168, 179, 190); */
}